# Dependencies
node_modules
npm-debug.log

# Angular build
dist
build

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.cache
.tmp
.temp

# Env files
.env
.env.*